/* HEADER */

@media (max-width: 576px) {
    .logo_container {
        width: 230px;
    }
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.navbar-toggler {
    top: -50px;
    margin-left: auto; 
}

#logo {
    width: 100%;
}

.logo_container {
    max-width: 400px;
}

.nav-link {
    color: #0072BB;
    font-weight: bold;
}

.nav-link:hover {
    color: #83c26d;
}

.navbar .nav-link.active {
    color: #fff;
    font-weight: bold;
    background-color: #83c26d; 
    border-radius: 10px;
    padding: 10px 15px;
}

/* CAROUSEL */

.left-carousel {
    margin: 10px;
    background-color: #E0E0E0; 
    border-color: #C0C0C0;
}

.carousel-item {
    height: 500px; 
}

.carousel-item img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.container-fluid h2 {
    color: #333333;
}

.container-fluid a {
    background-color: #83c26d;
    color: #fff;
}

.container-fluid a:hover {
    background-color: #7bb666;
    color: #fff;
}

/* MAIN */
/* SECTION - DESTINOS */

.img-hover-zoom {
    overflow: hidden;
    position: relative;
}
.img-hover-zoom img {
    transition: transform 0.3s ease;
}
.img-hover-zoom:hover img {
    transform: scale(1.1);
}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.img-hover-zoom:hover .overlay {
    opacity: 1;
}

/* SECTION - PACOTES */

main h1 {
    color: #0072BB;
    font-weight: bold;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #777;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #28a745;
}

.taxes {
    font-size: 0.875rem;
    color: #999;
}

.btn-primary {
    background-color: #0072BB;
    border-color: #0072BB;
}

.btn-primary:hover {
    background-color: #01619c;
    border-color: #01619c;
}

/* NEWSLETTER - CONTATO */

.newsletter {
    padding: 3rem 0;
}

.newsletter h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.newsletter p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

.newsletter form .form-label {
    font-weight: bold;
}

.newsletter form .btn {
    background-color: #83c26d;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

/* FOOTER */

footer{
    border-top: 1px solid lightgray;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .bi {
    font-size: 1.5rem;
    color: #000;
}

footer .bi:hover {
    color: #0072BB;
}

footer img {
    width: 150px;
}